html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
:root {
  --primary-color: #0eb493;
  --prmary-color-rgb: 14, 180, 147;
  --text-color: #062033;
  --text-color-rgb: 6, 32, 51;
}
/* LOAD FONTS */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/fonts/OpenSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(assets/fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

body {
  color: #062033;
  color: var(--text-color);
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
h1 {
  font-size: 4rem;
  margin: 0.67rem 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}

/* Forms========================================================================== */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* --------------------------- # Typography ---------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5rem;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375em;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*---------------------- # Forms----------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75em;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*------------------------Links--------------------------------*/
a {
  color: royalblue;
}

a:visited {
  color: purple;
  outline: none;
}

a:hover,
a:focus,
a:active {
  color: midnightblue;
  outline: none;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
  # Clearings
  --------------------------------------------------------------*/
.clear:before,
.clear:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after {
  clear: both;
}

/* ===================================================================== */
/* Utilities Classes */
/* ===================================================================== */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col {
  padding: 0 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33%;
  flex: 0 0 8.33%;
  max-width: 8.33%;
  padding: 0 15px;
}
.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66%;
  flex: 0 0 16.66%;
  max-width: 16.66%;
  padding: 0 15px;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}
.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  padding: 0 15px;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  padding: 0 15px;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  padding: 0 15px;
}
.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  padding: 0 15px;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  padding: 0 15px;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
  padding: 0 15px;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}
.text-center {
  text-align: center;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.l1 {
  line-height: 1;
}

.section-title {
  font-weight: 800;
  font-size: 28px;
  color: #0eb493;
  color: var(--primary-color);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.section-title::after {
  content: "\f08a";
  font-family: FontAwesome;
  text-align: center;
  color: #c3c6c7;
  line-height: 1;
  font-size: 14px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  width: 50px;
  margin: 0 auto;
  padding-top: 15px;
}
.section-title::before {
  content: "";
  position: absolute;
  bottom: 7px;
  height: 1px;
  width: 230px;
  background-color: #cccccc;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* ===================================================================== */
/* Animation Classes */
/* ===================================================================== */

.features-section .section-title {
  z-index: 1;
  background-color: #f4f7f9;
  padding-top: 65px;
}
.do-animate {
  opacity: 0;
}
.animated.do-animate {
  opacity: 1;
}

/* ===================================================================== */
/* HEADER */
/* ===================================================================== */
header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}
.navbar {
  background-color: rgba(16, 22, 54, 0.2);
  height: 70px;
}
.logo-container {
  padding-top: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo-container__tagline {
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  font-weight: 300;
}
.logo-container__tagline::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 0.125rem;
  background-color: #32b0ee;
  vertical-align: middle;
  margin: -2px 16px 0px 26px;
}
.main-menu {
  list-style: none;
}

.main-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  padding: 31px 16.5px 0 16.5px;
  letter-spacing: 1px;
  display: block;
  position: relative;
}
.main-menu li:last-child a {
  padding-right: 0;
}
.main-menu li:first-child a {
  padding-left: 0;
}
.current-item a::before {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  background: #32b0ee;
  width: 100%;
  left: 0;
  right: 0;
}
/* ===================================================================== */
/* HOME PAGE */
/* ===================================================================== */

/*========================= Hero section =========================*/
.hero-slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  max-height: 800px;
}
.hero-slider.item1 {
  background-image: url("assets/imgs/hero.jpg");
}
.hero-slider.item2 {
  background-image: url("assets/imgs/hero2.jpg");
}
.hero-slider.item3 {
  background-image: url("assets/imgs/hero3.jpg");
}
.hero-slider.item4 {
  background-image: url("assets/imgs/hero4.jpg");
}
.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: auto;
  position: absolute;
  top: 75%;
  right: 0;
  left: 50%;
  bottom: 0;
  z-index: 1000;
  transform: translate(-50%, -75%);
  color: #fff;
}
.hero-slider-container.owl-theme .owl-dots {
  margin-top: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 62px;
  font-weight: 300;
}
.main-title span {
  font-weight: 700;
}
.hero-text p {
  font-weight: 300;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 10px;
}
.hero-text p span {
  color: #0feb9e;
}
.professional-text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1;
  padding-top: 26px;
  display: inline-block;
}
.siciallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 102px;
  padding-bottom: 48px;
}
.siciallinks .fa {
  height: 1rem;
  padding-right: 17px;
  color: #fff;
}

/*========================= Feature section =========================*/

.features-section {
  padding-bottom: 138px;
  background-color: #f4f7f9;
}
.features-section__row {
  padding-top: 63px;
}
.fitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.fitem__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  max-width: 40px;
  margin-right: 17px;
}
.fitem__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 19px;
}
.fitem__description {
  font-size: 0.8125rem;
  margin-bottom: 0;
  line-height: 1.3125rem;
  opacity: 0.7;
}
.features-section .section-title::after {
  background-color: #f4f7f9;
}

/*========================= Work section =========================*/
.work-section {
  padding-top: 85px;
  overflow: hidden;
}
.work-description {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4688rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 33px;
  opacity: 0.8;
}
.work-filter {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 37px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.work-filter a {
  font-size: 0.875rem;
  color: #062033;
  color: var(--text-color);
  display: block;
  font-weight: 700;
  background-color: #fff;
  text-decoration: none;
  padding: 4.5px 19.4px;
  border-radius: 5px;
  margin-right: 10px;
}
.work-filter li:last-child a {
  margin-right: 0;
}
.work-filter a.active {
  color: #fff;
  background-color: #0eb493;
  background-color: var(--primary-color);
}
.work-filter-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.work-filter-item__overlay {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(14, 180, 147, 0.9);
  background-color: rgba(var(--prmary-color-rgb), 0.9);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: -10;
}
.work-filter-item img {
  width: 100%;
}
.work-filter-item:hover .work-filter-item__overlay {
  opacity: 1;
  z-index: 1;
}
.work-filter-item:hover .work-filter-item__overlay i {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.work-filter-item:hover .work-filter-item__overlay p {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.work-filter-item:hover .work-filter-item__overlay h4 {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.work-filter-item__overlay i {
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;

  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 23px;
}
.work-filter-item__overlay p {
  font-size: 1.125rem;
  padding-bottom: 2px;
  font-weight: 700;
  text-align: center;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.work-filter-item__overlay h4 {
  font-size: 0.875rem;
  font-weight: 400;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

/*========================= MEET OUR TEAM========================= */
.meet-team {
  padding-top: 89px;
  padding-bottom: 214px;
  overflow: hidden;
}
.meet-team .work-description {
  padding-top: 30px;
  padding-bottom: 108px;
}
.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.meet-team__item {
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.meet-team__item__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.meet-team__item__inner img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  width: auto !important;
}
.meet-team__item__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(14, 180, 147, 0.95);
  background-color: rgba(var(--prmary-color-rgb), 0.95);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  padding-bottom: 23px;
  height: 100%;
}
.team__item__overlay__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 85%;
  text-align: center;
  padding-top: 18px;

  -webkit-transition: opacity 0.3s ease-in-out 0.2s;

  -o-transition: opacity 0.3s ease-in-out 0.2s;

  transition: opacity 0.3s ease-in-out 0.2s;
  opacity: 0;
}

.team__item__overlay__text span {
  font-weight: 400;
  display: block;
  padding-top: 8px;
}
.meet-team__item__overlay__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-transition: opacity 0.3s ease-in-out 0.2s;

  -o-transition: opacity 0.3s ease-in-out 0.2s;

  transition: opacity 0.3s ease-in-out 0.2s;
  opacity: 0;
}
.meet-team__item__overlay__links a {
  height: 42px;
  background: rgba(0, 0, 0, 0.3);
  width: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
  text-decoration: none;
}
.meet-team__item__overlay__links i {
  font-size: 24px;
  color: #fff;
}
.meet-team__item__inner:hover .meet-team__item__overlay {
  opacity: 1;
  z-index: 1;
}
.meet-team__item__inner:hover .team__item__overlay__text,
.meet-team__item__inner:hover .meet-team__item__overlay__links {
  opacity: 1;
}
.meet-team__item__img {
  display: block;
}
.meet-team__item__title {
  font-weight: 600;
  font-size: 1.125rem;
  padding-top: 13px;
  margin-top: auto;
}
.meet-team__item:hover .meet-team__item__title {
  color: #0eb493;
  color: var(--primary-color);
}
.meet-team__item__position {
  font-size: 0.8125rem;
  padding-top: 5px;
  opacity: 0.53;
}

/*========================= FACTS PART=========================*/
section.facts {
  background: -o-linear-gradient(
      top,
      rgba(6, 32, 51, 0.8),
      rgba(6, 32, 51, 0.8)
    ),
    url("assets/imgs/bg.jpg") center center/cover no-repeat;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(6, 32, 51, 0.8)),
      to(rgba(6, 32, 51, 0.8))
    ),
    url("assets/imgs/bg.jpg") center center/cover no-repeat;
  background: linear-gradient(
      to bottom,
      rgba(6, 32, 51, 0.8),
      rgba(6, 32, 51, 0.8)
    ),
    url("assets/imgs/bg.jpg") center center/cover no-repeat;
  color: #fff;
  padding-top: 88px;
  padding-bottom: 155px;
}
.facts__row {
  padding-top: 25px;
}
.facts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.facts__item__symbol {
  height: 8.125rem;
  width: 8.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  font-size: 1.5rem;

  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.facts__item__symbol_container:hover .facts__item__symbol {
  background-color: #0eb493;
  background-color: var(--primary-color);
  -webkit-transform: rotate(360deg) scale(1.01);
  -ms-transform: rotate(360deg) scale(1.01);
  transform: rotate(360deg) scale(1.01);
  border: 1px solid #fff;
}
.facts__item__digits {
  padding-top: 36px;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.2;
}
.facts__item__desc {
  font-size: 1.125rem;
  line-height: 1.3;
}
.section-title-container {
  position: relative;
}
.section-title-container::before,
.section-title-container::after {
  content: "";
  position: absolute;
  bottom: 7px;
  background: #cccccc;
  height: 1px;
  width: 95px;
  margin: 0 auto;
  right: 0;
  left: -143px;
  z-index: 10;
}
.section-title-container::after {
  right: -143px;
  left: 0;
}
section.facts .section-title::before {
  width: 0;
}
section.facts .section-title::after {
  background-color: transparent;
}

/*========================= CONTACT US =========================*/
section.contact-us {
  padding-top: 88px;
}
.contact-map {
  padding-top: 100px;
}
.contact-map img {
  width: 100%;
}

/* ===================================================================== */
/* FOOTER */
/* ===================================================================== */
footer {
  border-top: 5px solid #062033;
  border-top: 5px solid var(--text-color);
  background-color: rgba(33, 182, 151, 0.9);
  padding-top: 96px;
  padding-bottom: 117px;
  color: #fff;
}
.footer__desciption {
  font-size: 0.8125rem;
  padding-top: 37px;
  line-height: 1.5rem;
}
.footer__heading {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 12px;
}
.newsletter_form {
  position: relative;
  margin-top: 42px;
}
.newsletter_form input.newsleter-input {
  background: transparent;
  border: 2px solid #fff;
  display: block;
  width: 100%;
  height: 2.875rem;
  color: #fff;
}
.newsletter_form button {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  font-size: 0.875rem;
}
.footer__subscribe-text {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  padding-top: 17px;
}
.footer__menu {
  padding-top: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__menu li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.footer__menu a {
  text-decoration: none;
  color: #fff;
  line-height: 2rem;
  font-size: 0.8125rem;
  display: block;
}
.copyright-container {
  padding-top: 65px;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.copyright-container span {
  color: #062033;
  color: var(--text-color);
}
/* ===================================================================== */
/* Responsive */
/* ===================================================================== */
@media (max-width: 47.9375em) {
  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 15px;
  }
  nav .main-menu {
    display: none;
  }
  .main-title {
    font-size: 40px;
  }
  .work-filter-item {
    padding-top: 0;
  }
  .fitem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .fitem__title {
    text-align: center;
    margin-top: 0.75rem;
  }
  .fitem__image {
    margin-right: 0;
  }
}
